@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(41, 41, 41);
}

header {
  background-color: rgba(0, 0, 0, 0.24);
  display: block;
  padding: 15px;
}

main {
  margin: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }
  main {
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 5px;
  }
  main {
    margin: 2px;
  }
}
